/* Main header Menu- Navigation bar */
html {
  font-size: 16px;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #dddddd;
}
span{
  color:#7f7f7f;
}
.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5rem;
  color: #0000000;
}
.menu p {
  display: inline-block;
  font-weight: bold;
}
.navigation li {
  display: inline-block;
}
.navigation li a {
  margin-right: 1rem;
  text-decoration: none;
  color: #7f7f7f;
  transition-property: bold;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
}
.navigation li a:hover {
  color: #ffffff;
  background-color: #000080;
  font-weight:bold;
  font-size: 1.1rem;
}

@media only screen and (min-width:480px) {
  .mobile-navigator {
  display: none;
  }
  .mobile-navigator ul{
  display: none;
  }
}

@media only screen and (max-width:479px){
  header {
    display: none;
  }
  mobile-header {
    width: 100%;
    height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #dddddd;
  }
  .mobile-navigator li {
    display: inline-block;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }
}

/*Mosaic - Portion 1 ---*/
.portion-mosaic {
  background-color: #dddddd;
  width: 100vw;
  display: relative;
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.portion-image {
  width: 60%;
  display: inline;
}
.portion-image img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.portion1-text {
  font-family: 'Roboto', sans-serif;
  width: 40%;
  color: #4f4f4f;
}
.portion1-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-left:4rem;
}
.portion1-text p {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-left:4rem;
}
.portion1-text .portion1-button {
  padding: .5rem 0;
  background-color: #4f4f4f;
  font-size: 1.3rem;
  display: inline-block;
  margin-top: 2rem;
  margin-left:4rem;
  width: 40%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: all .2s ease-in;
  box-shadow: 0 3px 9px rgba(0,0,0,.4);
}

.portion1-text .portion1-button:hover {
  color: #ffffff;
  background-color: #000080;
  font-weight:bold;
  font-size: 1.3rem;
}


@media only screen and (max-width:479px){
.portion-mosaic {
  width:100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.portion-image {
  width: 60vw;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}
.portion-image img {
  width:60%;
  height: 20.25rem;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.portion1-text h1{
text-align: left;
font-size: 2.5rem;
font-weight: bold;
}
.portion1-text p{
  text-align: left;
  margin-left:0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}
.portion1-text .portion1-button {
  margin: 1rem 0rem;
  height:auto;
  width:auto;
  padding:1rem 9em;
  align-items: center;
  font-weight:bold;
  white-space: nowrap;
  }
  .portion1-text {
    font-size:1.2rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
  }
}
/*Portion2*/

.portion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.portion-lock {
  border-right: 1px solid #dddddd;
  color: #7f7f7f;
  width: calc(60% + 3rem);
  margin-left: 1.5rem;
}
.portion h2{
  font-weight: bold;
}
.portion-lock img {
  width: 60vw;
  height: auto;
  margin-top: 2rem;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.portion-lock video {
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.section-title{
   color: #4f4f4f;
   font-size: 2.5rem;
   font-weight:bold;
   font-family: 'Roboto', sans-serif;
   margin-top: 2rem;
   margin-bottom: 1.5rem;
}
/*h2 .section-title .bot {
    margin-bottom: 0;
}*/
.site-descripts {
  font-size: .9rem;
  color: #7f7f7f;
  margin-bottom: 1rem;
  margin-top: .5rem;
  margin-left: 1rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}
.portion1-button{
  text-align: center;
}
/*Portion2 - column display*/

div .portion2-aside {
  display: flex;
  flex-direction: column;
  margin-top:2rem;
}
.portion2-menu-block {
  width: 26.437rem;
  height: 12rem;
  display: flex;
  padding-bottom: 1rem;
}
.menu-item-photo {
  width: 35%;
  height:auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.like h3, .like p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.like .menu-heading {
  font-family: 'Roboto', sans-serif;
  color: #4f4f4f;
  font-size: 1.4rem;
  margin-top: 20%
}
.like .site-descripts {
  font-family: 'Open Sans', sans-serif;
}
.like .read-more-link {
  display: inline-block;
  margin-left: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #9a9ae9;
  transition: all 0.2s ease-out;
  }
.like .read-more-link:hover {
  color: #ffffff;
  font-weight:bold;
  font-size: 1.1rem;
  background-color: #000080;
}
.add-tops {
  margin-top: 0;
}
.portion2-menu .gray {
  background-color: #dddddd;
}
.portion2-menu-block.gray.extends {
    width: 28.5rem;
}

@media only screen and (min-width:480px){
.menu-item-photo-mobile {
  display:none;
}
}

@media only screen and (max-width:479px) {
  .portion-lock.text-below {
  display: none;
}
.portion2-menu-block {
    width: auto;
    height: auto;
    display: initial;
    padding-bottom: 1rem;
}
.menu-item-photo-desktop {
  display:none;
}
.menu-item-photo-mobile {
  width: 90vw;
  height:auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top:16px;
}
.like .menu-heading {
  margin-top: 2rem;
}
.like h3, .like p {
  margin-left: 2rem;
  text-align: left;
}
.like .read-more-link {
  margin-left: 2rem;
  margin-right: 4rem;
}
.like{
  text-align: left;
  font-weight:bold;
}
.portion2-menu-block {
  text-align: center;
}
.portion2-menu .gray {
  background-color: #FFFFFF;
}
.media32 {
  margin-bottom: 2rem;
}
.portion2-menu-block.add-tops.gray.media32 {
  padding-bottom: 0;
}
}
/* Portion 3 */
a {
  text-decoration: none;
}
.portion3 {
  background-color: #dddddd;
}
.portion3 h2 {
  text-align: center;
  font-weight:bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right:2.5rem;
  padding-left:2.5rem;
  background-color: #eeeeee;
}
.portion3-flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  }
.portion3-block {
  width: 22.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.portion3-block img {
  height: 11.375rem;
  width: auto;
  }
.learn-describe {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.3rem;
}
.portion3-heading {
  font-weight: bold;
  font-size: 1.5rem;
  color: #4f4f4f;
  padding-top: .5rem;
  transition: all .2s linear;
}
.portion3-heading:hover{
  background-color: #000080;
  color:#ffffff;
  font-weight:bold;
  font-size:1.3rem;
  text-transform:uppercase;
}
.portion3-sub-heading  {
  text-transform:uppercase;
  font-size: 1.2rem;
  color: #4f4f4f;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: 1rem;
}
.main-title {
  text-align: center;
  color: #4f4f4f;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.dismiss {
  border: none;
  width: 60%;
  margin-right: 1rem;
}

@media only screen and (max-width:479px) {
.portion3 {
  background-color: white;
}
.section-title h2 {
  background-color: White;
}
.portion3-flexbox{
background-color: #ffffff;
}
.portion3-block img {
  display: none;
}
.learn-describe h4, .learn-describe p {
  display: none;
}
.portion3-heading {
  font-size: 1.5rem;
  color: #4F4F4F;
  padding: 1.5rem 1rem;
  background-color: #dddddd;
  margin-bottom: .5rem;
}

.learn-describe {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 01.3rem;
}
.portion3-block {
  width: 100vw;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: .5rem;
  box-shadow:none;
  background-color: #ffffff;
  }
.portion3 h2 {
  padding-top: 0;
  padding-bottom: 1rem;
  margin-left: 1rem;
  background-color: #ffffff;
}
}
@media only screen and (max-width:479px) {
  .portion-lock.text-below.dismiss {
  display: initial;
  width: 100vw;
}
.portion-lock.text-below.dismiss h2, .portion-lock.text-below.dismiss p {
  display: none;
}
.mediaNone {
  display: none;
}
.mediaWide {
  margin-left: 0;
  margin-right: 0;
}
.disclaimer {
  font-size: .8rem
}
.social-media a{
  font-size: .8rem;
}
}

/*portion 4 */

h3 {
    font-weight: bold;
}
h3, p {
  margin-left: 1rem;
}
.menu-heading {
  transition:all 0.2s ease-in-out;
}
.menu-heading:hover{
  background-color: #000080;
  color:#ffffff;
  font-weight:bold;
  font-size:1.3rem;
  text-transform: uppercase;
}
/*Footer*/

.copyright {
  width: 100%;
  height: 4rem;
  color: #7f7f7f;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  align-items: center;
  border-top: 1px solid #eeeeee;
  padding-top: 1rem;
  padding-left: 1rem;
}
.no-descripts{
  color: #7f7f7f;
  display: inline-block;
  flex-grow: 1;
  padding-left: 1.5rem;
   }
.copyright ul li {
    display:inline-flex;
    text-align: right;
    margin-right: 1.5rem;
        }
  .social-media {
  text-decoration: none;
  margin-right: 1.5rem;
  text-align: right;
  }
  .social-media {
      transition: all .2s linear 0s;
    }
    .social-media:hover {
      color: #000080;
    }
    @media only screen and (max-width:479px) {
      footer {
        margin-top: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .no-descripts{
          margin-top: 1.5rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
      }
      .copyright {
      border: none;
      }
      .social-media {
        display:none;
      }

    }
